header .header-inner {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 30px;
}
.lnb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 10px;
}
.lnb .sign {
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-size: 14px;
  color: #000;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}
.lnb .search {
  position: relative;
  font-size: 14px;
  line-height: 1;
}
.lnb .search i {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 0;
  background-color: transparent;
}
.lnb .search input {
  width: 140px;
  height: 26px;
  font-size: inherit;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  padding: 0 6px 0 26px;
}

.logo {
  width: 60px;
  margin: 0 auto 20px;
}
.logo img {
  width: 100%;
}

.btn-hamburger {
  display: none;
}
.menu-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-wrapper .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin: 0;
  padding: 0;
}
.menu-wrapper .menu li a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
}
.menu-wrapper .menu li a:hover {
  text-decoration: underline;
}
.btn-menu-close {
  display: none;
}

@media (max-width: 1023px) {
  header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
  }
  header .header-inner {
    padding: 20px;
  }
  .container {
    padding: 76px 20px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 46px;
    margin: 0;
  }
  .lnb {
    margin-bottom: 0;
  }

  .lnb .search input {
    width: 120px;
    -webkit-appearance: none;
    border-radius: 0;
  }
  .lnb .search input:focus {
    outline: none;
  }
  .btn-hamburger {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: 0;
  }

  nav {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100vh;
  }
  nav.open {
    left: 0;
    opacity: 1;
  }
  nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .menu-wrapper {
    position: relative;
    display: block;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease-out;
    padding: 60px 20px;
    background-color: #fff;
  }

  .menu-wrapper .menu {
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    gap: 20px 0;
  }
  .btn-menu-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: 0;
  }
}
