.prd-card {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 40px;
}
.prd-card:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.prd-card img {
  margin-bottom: 10px;
}
.prd-card strong {
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .prd-card:hover {
    transform: none;
  }
}
